ROS_DOMAIN_ID=42
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
CYCLONEDDS_URI=file:///opt/xray/config/cyclonedds.xml
XRAY_MODE=sim
XRAY_SIM_BACKEND=mock
XRAY_USE_FAKE_POSE=true
XRAY_USE_FAKE_DETECTIONS=true
XRAY_USE_SIM_TIME=false
ROS_TCP_ENDPOINT_PORT=10000
VIDEO_STREAM_PATH=drone_cam
